version: "3.8"

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://db:27017/mern-crash-course
      - PORT=5000
    depends_on:
      - db
    command: ["npm", "start"]
  db:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: